@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Public+Sans:wght@400;700&display=swap');

.visSection {
    border-top: 1px solid #70707063;
    position: relative;
    top: 4.3vw;
    left: 5.1%;
    width: 94.4vw;
    height: 50vw;
    background-color: #FFFCFC;
}

.dataHeader h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4vw;
    margin-left: 2.5vw;
    color: #393939;
}

.locationSection {
    position: absolute;
    right: 3%;
    top: 2.5%;
}

.location {
    width: 8vw;
    outline: none;
    border: none;
    font-size: 1vw;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.location option {
    font-size: 1vw;
}

.timeSection {
    position: absolute;
    right: 2.8%;
}

#time1 {
    top: 10%;
}

#time2 {
    top: 40%;
}

.time {
    width: 6.5vw;
    outline: none;
    border: none;
    font-size: .8vw;
    font-family: 'Public Sans', sans-serif;
    font-weight: lighter;
    cursor: pointer;
    -webkit-appearance:none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

#time1::after, #time2::after {
    content: '\1F783';
    position: absolute;
    top: -3px;
    right: -12.6%;
    padding: 0 1vw;
    color: #C4C4C4;
    cursor: pointer;
}


