@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.wrapper{
    padding-right:0;
    margin-right: 0;
    width: 105%;
}
.lineEdit{
    display: flex;
 margin-right:0;
 padding-right: 0;

}
.lineEdit1{
    
    margin-top: 7vh;
    margin-bottom: 0.2vh;
    width:5.1%;
}
.lineEdit2{
    border-bottom: solid 2px #EFECEC;
    margin-top: 7vh;
    margin-bottom: 0.2vh;
    width: 99.7%;
}
@media only screen and (max-width: 900px) {
    .lineEdit1{
        margin-right: 0;
        padding-right: 0;
    
        margin-top: 7vh;
    margin-bottom: 0.3vh;
        width:5.2%;
    }
    .lineEdit2{
        border-bottom: solid 2px #EFECEC;
        margin-right: 0;
        padding-right: 0;
        margin-top: 7vh;
    margin-bottom: 0.3vh;
        width: 105%;
    }
  }
.pic1{
    margin-left: 63vw;
    margin-right: 0;
    margin-top: 0.8vh;
    margin-bottom: 0;
    /* position: absolute;
    bottom:0;
    right:0; */
   width: 33.4%; 
    height:90.8%;

   
}
 @media only screen and (max-width: 900px) {
    .pic1 {
        margin-left: 35vw;
    margin-right: 0;
    margin-top: 0.8vh;

      width: 62%;
      height:86%;
    }
    .wrapper{
        padding-right:0;
        margin-right: 0;
        width: 155%;
    }
  }
.editSection {
    position: absolute;
    top:5.19%;
   height: 100%;
    padding-right: 0;
   margin-right:0;
    margin-top: 1.5vw;
    margin-left: 5.1vw;
    background-color:#FFFCFC;
    
}



#info2 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vw;
    color: #2E384D;
    width: 30vw;
    font-weight: bolder;
    top: 25%;
    left: 12%;
}

.validerButton {
    position: absolute;
    bottom: 30%;
    left: 27%;
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: .7vw;
    width: 20vw;
    border-radius: 15px;
    border: none;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    cursor: pointer;
}

.barrageName {
    position: absolute;
    top: 46%;
    left: 12%;
}

.barrageName select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.date {
    position: absolute;
    top: 46%;
    left: 37%;
}

.date select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.nameSelection {
    border: none;
    border-radius: 8px;
    padding: .9vw;
    padding-left: 2.1vw;
    width: 22vw;
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: .75vw;
    color: #6E6E6E;
    cursor: pointer;
    outline: none;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.dateSelection {
    border: none;
    border-radius: 8px;
    padding: .9vw;
    padding-left: 2.1vw;
    width: 22vw;
    background-color: #EAEAEA;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: .75vw;
    color: #6E6E6E;
    cursor: pointer;
    outline: none;
    scroll-behavior: smooth;

}
.edit-error-date {
    top: 53%;
    color: red;
    font-size: 0.8vw;
    font-family: 'Gilroy ExtraBold';
    position: absolute;
    left: 37.8%;
}

.edit-error-nom {
    top: 53%;
    color: red;
    font-size: 0.8vw;
    font-family: 'Gilroy ExtraBold';
    position: absolute;
    left: 12.5%;
}
.default-select {
    font-family: "Gilroy ExtraBold";
    font-size: 2vw;
    font-weight: bolder;
}

option {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw;
}

#down1 {
    position: absolute;
    right: 5%;
    top: 25%;
    color: #707070;
    cursor: pointer;
}

#down2 {
    position: absolute;
    right: 5%;
    top: 25%;
    color: #707070;
    cursor: pointer;
}

.default {
    display: none;
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
    .pic1 {
        margin-left: 35vw;
    margin-right: 0;
    margin-top: 0.8vh;
    bottom:0;

      width: 62%;
      height:87%;
    }
    .editSection {
        margin-left: 8vw;
        margin-top: 7vw;
    }
}
@media only screen and (max-width: 900px) {
    .pic1 {
    margin-left: 37vw;
    margin-right: 0;
    margin-top: 17.5vh;
    bottom:0;

      width: 62%;
      height:70%;
    }}
    @media only screen and (max-width: 730px) {
        .pic1 {
        margin-left: 37vw;
        margin-right: 0;
        margin-top: 30vh;
        bottom:0;
          width: 62%;
          height:59%;
        }}
@media only screen and (max-width: 500px) and (min-width: 350px) {
    
    
    .pic1 {
        margin-left: 45vw;
        margin-right: 0;
        margin-top: 40vh;
        bottom:0;
          width: 50%;
          height:40%;
        }
    .editSection {
        margin-left: 6vw;
        margin-top: 7vw;
    }
    }

@media only screen and (max-width: 1669px) and (min-width: 1400px) {
   
    .dateSelection,
    .nameSelection {
        padding: 1.2vw;
        padding-left: 2vw;
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
   

    .dateSelection,
    .nameSelection {
        padding: 1.4vw;
        padding-left: 2vw;
        font-size: 1.2vw;
    }

    .validerButton {
        bottom: 30%;
        font-size: 1.8vw;
    }
    .edit-error-date {
        top: 52%;
        left: 38%;
        font-size: 0.8vw;
    }

    .edit-error-nom {
        top: 52%;
        left: 12.8%;
        font-size: 0.8vw;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
   

    .dateSelection,
    .nameSelection {
        width: 27vw;
        padding: 1.6vw;
        padding-left: 2.5vw;
        font-size: 1.2vw;
    }
    .edit-error-date
    {
        top: 41%;
        left: 43.5%;
        font-size: 1vw;
    }
    .edit-error-nom
    {
        top: 41%;
        left: 13%;
        font-size: 1vw;
    }

    .barrageName {
        top: 35%;
    }

    .date {
        top: 35%;
        left: 42%;
    }


    #info2 {
        font-size: 3vw;
        width: 36vw;
        top: 16%;
    }

    .validerButton {
        left: 30%;
        bottom: 45%;
        font-size: 2vw;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
   
    .dateSelection,
    .nameSelection {
        width: 25vw;
        padding: 1.6vw;
        padding-left: 3vw;
        font-size: 1.2vw;
    }
    .edit-error-date
    {
        top: 40%;
        left: 43.5%;
        font-size: 1vw;
    }
    .edit-error-nom
    {
        top: 40%;
        left: 13.2%;
        font-size: 1vw;
    }

    #info2 {
        font-size: 3vw;
        width: 36vw;
        top: 16%;
    }

    .barrageName {
        top: 35%;
    }

    .date {
        top: 35%;
        left: 42%;
    }

    .validerButton {
        left: 28%;
        bottom: 48%;
        font-size: 2.5vw;
        width: 24vw;
    }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
   
    .edit-error-date
    {
        top: 33%;
        left: 52%;
        font-size: 1.2vw;
    }
    .edit-error-nom
    {
        top: 33%;
        left: 16.6%;
        font-size: 1.2vw;
    }

    #info2 {
        font-size: 4vw;
        width: 46vw;
        top: 12%;
        left: 15%;
    }

    .dateSelection,
    .nameSelection {
        width: 30vw;
        padding: 2vw;
        padding-left: 2vw;
        font-size: 1.6vw;
    }

    .barrageName {
        top: 28%;
        left: 15%;
    }

    .date {
        top: 28%;
        left: 50%;
    }

    .validerButton {
        left: 34%;
        bottom: 56%;
        font-size: 3.4vw;
        width: 28vw;
    }

}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  

    #info2 {
        font-size: 5vw;
        width: 60vw;
        top: 12%;
        left: 15%;
    }

    .dateSelection,
    .nameSelection {
        width: 38vw;
        padding: 3vw;
        padding-left: 4vw;
        font-size: 2.4vw;
    }

    .barrageName {
        top: 27%;
        left: 15%;
    }

    .date {
        top: 27%;
        left: 58%;
    }

    .validerButton {
        left: 39%;
        bottom: 55%;
        font-size: 4vw;
        width: 32vw;
    }
    .edit-error-date
    {
        top: 32%;
        left: 60%;
        font-size: 1.7vw;
    }
    .edit-error-nom
    {
        top: 32%;
        left: 16.8%;
        font-size: 1.7vw;
    }
}