@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Public+Sans:wght@400;700&display=swap');

.testi3 {
    position: absolute;
    right: 20%;
    bottom: 1%;
    height: 29%;
    width: 52%;
}

.chartInfo3 {
    position: absolute;
    left: 9%;
    bottom: 20%;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.1vw;
    font-weight: 1000;
    color: #1B2767;
}

.ADS3 {
    position: absolute;
    left: 9%;
    bottom: 8%;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: 1000;
    color: #1B2767;
}

#dif3Down {
    position: absolute;
    left: 9%;
    bottom: 7%;
    color: red;
}

#dif3Up {
    position: absolute;
    left: 9%;
    bottom: 7%;
    color: #13CD3C;
}

.dif3 {
    font-family: 'Public Sans', sans-serif;
    font-size: 1vw;
    font-weight: bolder;
    position: absolute;
    left: 10.7%;
    bottom: 5.5%;
}
