@font-face {
    font-family: "Gilory";
    src: local("Gilory"), url("../src/fonts/Gilroy-Light.otf") format("truetype");
  }

@import url(//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold);

.userSection {
    border-top: 1px solid #70707063;
    position: relative;
    left: 5.1%;
    width: 94.4vw;
    height: 100vw;
    background-color: #FFFCFC;
    margin-top: 2%;
}

#pic {
    position: relative;
    top: 1%;
    right: 10%;
    float: right;
    width: 35%;
    height: auto;
}

.userSection h1 {
    font-family: "Gilroy ExtraBold";
    color: #2E384D;
    font-size: 4vw;
}

.p-user {
    font-family: 'Gilory';
    color: #8C98A9;
    font-size: 1.2vw;
}

.userSection input {
    padding: 1vw;
    width: 22vw;
    border-radius: 6px;
    border: 1px solid #E0E7FF;
    outline: none;
    font-size: 1vw;
}

.form {
    position: absolute;
    left: 10%;
    top: 5%;
}
.form input
{
    font-family: 'gilroy';
    font-size: 0.8vw;
}

#contactAdmin {
    color: #3a69e9;
    font-weight: bold;
}
#contactAdmin:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.error-user
{
    margin-top: 1%;
    margin-left: 1%;
    color: red;
    font-size: 8px;
    font-family: 'Gilroy ExtraBold';
}
.login-error
{
    color: red;
    font-size: 20px;
    font-family: 'Gilroy ExtraBold';
    margin-left: 30%;
    position: relative;
}

#mdp {
    font-family: 'Gilory';
    color: #8C98A9;
    margin-top: 2vw;
    font-size: .8vw;
}

.connectButton {
    text-align: center;
    width: 24.1vw;
    padding: 1vw;
    background-color: #2E384D;
    color: white;
    font-size: 1.2vw;
    font-family: 'Gilory';
    font-weight: 600;
    border-radius: 6px;
    margin-top: 1.5vw;
}
.connectButton:hover
{
    cursor: pointer;
    opacity: 0.8;
}
